.wrapper {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('https://t4.ftcdn.net/jpg/02/33/61/69/240_F_233616900_ZPRGzFB0vWDqYttx5rA27r7GNkuOeg03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  width: 100%;
  text-align: center;
  color: yellow;
  text-shadow: 2px 0 0 green, -2px 0 0 green, 0 2px 0 green, 0 -2px 0 green, 1px 1px green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green;
  font-size: 3em;
}

form {
  display: flex;
  padding: 10px;
}

.frame {
  width: 40vw;
  max-width: 400px;
}

.card {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}