.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://t4.ftcdn.net/jpg/02/33/61/69/240_F_233616900_ZPRGzFB0vWDqYttx5rA27r7GNkuOeg03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.list-wrapper {
  max-height: 500px;
  overflow-y: auto;
}

form {
  display: flex;
  padding: 10px;
}

.input {
  margin-right: 10px;
  border: none;
  flex-grow: 1;
  height: 2em;
}

.submit-button {
  border: none;
  background-color: yellow;
  flex-grow: 1;
  height: 2em
}

.frame {
  width: 40vw;
  max-width: 400px;
}

.card {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.delete {
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
}

.list-item {
  display: flex;
  justify-content: space-between;
}